{% extends 'base.html.twig' %}

{% block title %}Passager index{% endblock %}

{% block body %}
    <h1>Passager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>DateInscription</th>
                <th>Avis</th>
                <th>HistoriqueReservations</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passager in passagers %}
            <tr>
                <td>{{ passager.id }}</td>
                <td>{{ passager.name }}</td>
                <td>{{ passager.adresse }}</td>
                <td>{{ passager.prenom }}</td>
                <td>{{ passager.telephone }}</td>
                <td>{{ passager.dateInscription ? passager.dateInscription|date('Y-m-d') : '' }}</td>
                <td>{{ passager.avis ? passager.avis|join(', ') : '' }}</td>
                <td>{{ passager.historiqueReservations ? passager.historiqueReservations|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_passager_show', {'id': passager.id}) }}">show</a>
                    <a href="{{ path('app_passager_edit', {'id': passager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_passager_new') }}">Create new</a>
{% endblock %}
