{% extends 'base.html.twig' %}

{% block title %}Passager{% endblock %}

{% block body %}
    <h1>Passager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passager.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ passager.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ passager.adresse }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ passager.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ passager.telephone }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ passager.dateInscription ? passager.dateInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ passager.avis ? passager.avis|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>HistoriqueReservations</th>
                <td>{{ passager.historiqueReservations ? passager.historiqueReservations|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_passager_index') }}">back to list</a>

    <a href="{{ path('app_passager_edit', {'id': passager.id}) }}">edit</a>

    {{ include('passager/_delete_form.html.twig') }}
{% endblock %}
